#main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height:fit-content;

}

/* Skip to main content */
#skip{
    opacity: 0;
}
#skip:focus{
    opacity: 100;
}
/* header */
header {
    text-align: center;
}

header img:nth-child(1){
    width:50%;
    height: 30%
    

}
/* nav */
nav {
    margin: 3em 0 1em;
    position: relative;
    background: #00274C;
}
nav ul {
    text-decoration: none;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 1.5em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
nav ul li a {
    margin: 1em 1.35em;
    padding: 0.4em;
    text-transform: uppercase;
    color:#FFCB05;
}

a:active{
    color: white;
}

.introduction{
    grid-column:1/-1;
    text-align: center;
    margin-bottom: 5%;
}
.introduction h2 {
    text-align: center;
}

body{
    font-family: "Lora", Georgia, "Times New Roman", Times, serif;
    font-size: 1rem;
}
h1{
    text-align: center;
    
}
h2,h3,h4{
    color: #00274C;
    text-align: left;
    font-weight: bold;
}

h2 {
    background-color: #FFCB05;
    text-decoration: underline;
}

h3 {
    border: 2px solid #FFCB05;
    margin-top: 3%;
}

img {
    width: 80%;
}


/* footer */
footer {
    background-color: #2F65A7;
    color: white;
    text-align: center;
    height: 40%;
    padding: 15px;
    margin-top: 5%;
    
}

footer a, footer h3 {
    color: white;
    text-align: center;
    border: 0;
    font-weight: lighter;
}
/* home page specific */
.home p {
    text-align: left;
}
header h1{
    background-image: url("images/MCOMMONS-FinalsStudyLocations2024-01.jpg");
    background-color: black;
    text-align: center;
    color: white;
    background-size: cover;
    width: 100%;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/-1;
}

.home li{
    display: inline;
    margin:2%;
}

section:nth-child(n+2){
    grid-column: 1/-1;
    margin-top: 5%;
}

section:nth-child(n+2) > article {
    grid-column: 2;
    text-align: center;
}

figure {
    margin: 5%;
    width: 80%;
}

#life-outside-classroom li{
    display: block;
}

/* Being Successful in academia specific page */
/* Inspired by https://stylestage.dev/styles/at-the-desk/ */
.academia h1{
    background-image: url("http://127.0.0.1:5500/images/UMSI_MHIClassroom_02202023_11.jpg");
}

h2:nth-child(1) {
    grid-column: 1/-1;
};

.academicSuccess p {
 grid-column: 1/-1;
}
.academicSuccess ol,.academicSuccess ul {
    display: grid;
}

.academicSuccess ol li:nth-child(4), .academicSuccess ul li:nth-child(4){
    grid-column: 2;
}