
/* Skip to main content */
#skip{
    opacity: 0;
}
#skip:focus{
    opacity: 100;
}
/* header */
header {
    text-align: center;
}

header img:nth-child(1){
    width:50%;
    height: 30%
}

/* nav */
nav {
    background: #00274C;
    padding: 10px;
}
/* nav css from https://stylestage.dev/styles/at-the-desk/ */
nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 1.5em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

nav a {
    margin: 1em 1.35em;
    padding: 0.4em;
    text-transform: uppercase;
    text-decoration: none;
    color:#FFCB05;
}
nav a:link{
    color:#FFCB05;
}
nav a:visited {
    color: white;
}

nav a:hover{
    color: white;
    text-decoration: underline;
}
nav a:active{
    color: white;
    text-decoration: underline;
}
/* Main content of all pages */
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height:fit-content;
    padding: 0 1.5rem;
    text-align: left;
}

/* Introductory Content area on each page */
.introduction{
    grid-column:1/-1;
    text-align: left;
    margin-bottom: 5%;
}
.introduction h2 {
    text-align: center;
}
body{
    font-family: "Lora", Georgia, "Times New Roman", Times, serif;
    font-size: 1rem;
}
h1{
    text-align: center;
    
}
h2,h3,h4{
    color: #00274C;
    text-align: left;
    font-weight: bold;
}

h2 {
    background-color: #FFCB05;
    text-decoration: underline;
}

h3 {
    border: 2px solid #FFCB05;
    margin-top: 3%;
}

img {
    width: 80%;
}


/* footer */
/* Inspired by https://stylestage.dev/styles/at-the-desk/ */
footer {
    background-color: #2F65A7;
    color: white;
    text-align: left;
    margin-top: 2%;
    padding: 10px;
    font-weight: 400;
}

.container {
    padding: 0 1.5rem;
}

footer a, footer h3 {
    color: white;
    border: 0;
    font-weight: 400;
}

footer a {
    background-color: white;
    color:#2F65A7;
    padding: 1%;
    text-decoration: none;
}

footer a:hover {
    color:#2F65A7;
    padding: 1%;
    text-decoration: underline;
}


/* Home Page Specific */
.home p {
    text-align: left;
}

header h1{
    background: url("https://lilymadojemu.github.io/client_project_html_w25/images/MCOMMONS-FinalsStudyLocations2024-01.jpg");
    text-align: center;
    color: white;
    background-size: cover;
    width: 100%;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/-1;
    font-weight: bolder;
}

.home li{
    display: inline;
    margin:2%;
}

section:nth-child(n+2){
    grid-column: 1/-1;
    margin-top: 5%;
}


figure {
    margin: 5%;
    width: 80%;
}


/* Being Successful in academia specific page */
/* Inspired by https://stylestage.dev/styles/at-the-desk/ */
.academia{
    background-color: black;
    
}

.academia h1{
    background-image: url("https://lilymadojemu.github.io/client_project_html_w25/images/UMSI_MHIClassroom_02202023_11.jpg");
}

.academicSuccess ol,.academicSuccess ul {
    display: grid;
}

.academicSuccess ol li:nth-child(4), .academicSuccess ul li:nth-child(4){
    grid-column: 2;
}

/* Life outside the classroom specific page */
/* Will need to update text color for accessibility */
.outsideClass h1 {
    background-image: url('https://lilymadojemu.github.io/client_project_html_w25/images/MCOMMONS-WinterSemester2025-01.jpg');
}
.life-outside-classroom ul {
    display: grid;
}
.life-outside-classroom  ul li:nth-child(4){
    grid-column: 2;
}
/* Supporting You specific page */


